.App {
  text-align: center;
  font-family: 'BM Jua', serif;
}

.color1 {
  color: #152d68;
}
.color2 {
  color: #1a507f;
}
.color3 {
  color: #6e88a4;
}
.color4 {
  color: #c5cdd0;
}
.color5 {
  color: #f0f0ef;
}
